@{
Layout=null;
ViewBag.Title = "Home Page | React Site";
}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" />
      <title>@ViewBag.Title</title>
       <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="/dist/main.css" />
    
   </head>
   <body class="container">
      <div id="root"></div>
    <script src="/dist/bundle.js"></script>
   </body>
</html>